
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-
  template:
    metadata:
      labels:
        app: product-api
    spec:
      serviceAccountName: product-api-ksa  
      containers:
      - name: product-api
        image: asia-south1-docker.pkg.dev/oceanic-spot-477008-k6/my-flask-repo/product-api:v8
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        
        env:
        - name: DB_USER
          value: "postgres"
        - name: DB_NAME
          value: "postgres"
        - name: INSTANCE_CONNECTION_NAME
          value: "oceanic-spot-477008-k6:asia-south1:product-api-db-instance"
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_PASSWORD
              
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20
          failureThreshold: 5
          
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
      
      - name: cloud-sql-proxy
        image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.8.0
        args:
          - "--structured-logs"
          - "--port=5432"
          - "oceanic-spot-477008-k6:asia-south1:product-api-db-instance"
        securityContext:
          runAsNonRoot: true
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"


            